@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&display=swap');

html{
    background: black;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

.messaggio {
    position: absolute;
    display: block;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    color: rgb(27, 255, 27);
    font-size: 18pt;
    background-color: black;
    width: auto;
    height: auto;
    transform: translateX(100vw);
}
#lista {
    height: 100vh;
    width: 100vw;
}
@keyframes move {
    to { transform: translateX(-100%); }
}